<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurecicddemofunction20240530181631.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/557a11fa-90ba-4db0-a071-6fc48fddcc0f/resourcegroups/AzureFunctionCICDDemo/providers/Microsoft.Web/sites/AzureCICDDemoFunction20240530181631</ResourceId>
    <UserName>$AzureCICDDemoFunction20240530181631</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurecicddemofunction20240530181631.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>